<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.retire.article.mapper.ArticleMapper">
    
    <resultMap type="Article" id="ArticleResult">
        <result property="id"    column="id"    />
        <result property="title"    column="title"    />
        <result property="type"    column="type"    />
        <result property="content"    column="content"    />
        <result property="published"    column="published"    />
        <result property="accessory"    column="accessory"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="imgUrl" column="img_url"/>
    </resultMap>

    <sql id="selectArticleVo">
        select id, title, type, content, published, accessory, create_time, update_time, img_url from app_article
    </sql>

    <select id="selectArticleList" parameterType="Article" resultMap="ArticleResult">
        <include refid="selectArticleVo"/>
        <where>  
            <if test="title != null  and title != ''"> and title like concat('%', #{title}, '%')</if>
            <if test="type != null  and type != ''"> and type = #{type}</if>
            <if test="published != null and published != ''"> and published = #{published}</if>
        </where>
    </select>
    
    <select id="selectArticleById" parameterType="string" resultMap="ArticleResult">
        <include refid="selectArticleVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertArticle" parameterType="Article">
        insert into app_article
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null and id != ''">id,</if>
            <if test="title != null  and title != ''">title,</if>
            <if test="type != null  and type != ''">type,</if>
            <if test="content != null  and content != ''">content,</if>
            <if test="published != null and published != ''">published,</if>
            <if test="accessory != null  and accessory != ''">accessory,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="updateTime != null ">update_time,</if>
            <if test="imgUrl != null ">img_url,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null and id != ''">#{id},</if>
            <if test="title != null  and title != ''">#{title},</if>
            <if test="type != null  and type != ''">#{type},</if>
            <if test="content != null  and content != ''">#{content},</if>
            <if test="published != null and published != ''">#{published},</if>
            <if test="accessory != null  and accessory != ''">#{accessory},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="updateTime != null ">#{updateTime},</if>
            <if test="imgUrl != null ">#{imgUrl},</if>
         </trim>
    </insert>

    <update id="updateArticle" parameterType="Article">
        update app_article
        <trim prefix="SET" suffixOverrides=",">
            <if test="title != null  and title != ''">title = #{title},</if>
            <if test="type != null  and type != ''">type = #{type},</if>
            <if test="content != null  and content != ''">content = #{content},</if>
            <if test="published != null and published != ''">published = #{published},</if>
            <if test="accessory != null  and accessory != ''">accessory = #{accessory},</if>
            <if test="createTime != null ">create_time = #{createTime},</if>
            <if test="updateTime != null ">update_time = #{updateTime},</if>
            <if test="imgUrl != null and imgUrl != ''">img_url = #{imgUrl},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteArticleById" parameterType="string">
        delete from app_article where id = #{id}
    </delete>

    <delete id="deleteArticleByIds" parameterType="String">
        delete from app_article where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="selectArticleAll" resultMap="ArticleResult">
        select id,title,type,published,create_time, update_time,img_url from app_article order by create_time desc
    </select>

    <select id="selectArticleCount" resultType="int">
        select count(*) from app_article where type != 1
    </select>
    
</mapper>